<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
	<% if(is_home()) { %>
	<%- partial('home')%>
	<%- partial('_partial/footer') %>
	<% }else { %>
	<%- partial('_partial/header')%>
	<div className="container" id="container">
		<%- body %>
	</div>
	<% } %>
</body>
</html>