<div class="js-masonry" data-masonry-options='{ "itemSelector": ".article", "columnWidth": 30 }'>
	<% posts.sort('date').reverse().each(function(post) { %>
	<div class="card article article-bottom-bg <%= !post.photos || !post.photos.length ? 'article-top-bg': ''%>">
		<% if(post.photos && post.photos.length){%>
		<img class="card-img-top" src="<%=post.photos%>?imageView2/2/w/280/q/85" alt="">
		<% }%>
		<div class="card-body">
			<h5 class="card-title">
				<a href="<%- config.root %><%- post.path %>" class="article-title-a">
					<%- post.title%>
				</a>
			</h5>
			<div class="card-text">
				<p>
					<%- post.external%>
				</p>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-around align-items-center">
			<h6 class="card-subtitle mb-2 text-muted">
				<%- partial('_partial/tag', {tags: post.tags}) %>
			</h6>
			<small class="text-muted">
				<% var date = post.date.format('YYYY-MM-DD'); %>
				<%- date%>
			</small>
		</div>
	</div>
	<% })%>
</div>